* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definições gerais*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #cbd3d3; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 130px;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 40px;
}

.menu a:hover {
  text-decoration: underline;
}

/* Apresentação */
.secoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  gap: 100px;
}

.texto {
  flex: 1;
}

.titulo, .redes-subtitulo {
  margin-bottom: 20px;
  color: #6a1b9a;
  font-size: 26px;
}

.descricao {
  font-size: 18px;
  margin-bottom: 40px;
}

.redes-subtitulo {
  font-size: 20px;
}

.redes-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center; 
  gap: 10px;
  color: #c96372;
}

.redes-icon {
  width: 50px;
}

.imagem img {
  width: 450px;
  transition: opacity 0.3s ease-in-out; /* apenas para o segundo desafio */
}

/* Rodapé */
footer {
  background-color: #eeeeee;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #555;
}